{% extends 'layout.html' %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bootstrap5/pagination.html' import render_pager, render_pagination %}

{% block content %}
<div class="dashboard">
        <div class="container">
            <div class="toprow pt-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="cardtitle">Latest POAM Results Count</h3>
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="mt-3">{{ highs }}</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-3">{{ meds }}</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-3">{{ lows }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="mt-1">High</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-1">Medium</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-1">Low</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="cardtitle">Latest POAM Results Status Count</h3>
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="mt-3">{{ hsla }}</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-3">{{ msla }}</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-3">{{ lsla }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="mt-1">High over 30 days</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-1">Medium over 90 days</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-1">Low over 180 days</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomrow pt-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="cardtitle">Issues last 7 days</h3>
                        <div class="card">
                            <div class="card-body">
                                {{ render_table(recent_poams, titles, table_classes='table table-dark table-hover') }}
                                {{ render_pager(pagination, align='right') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="cardtitle">POAM Trend Graph (6 Months)</h3>
                        <div class="card chartcard">
                            <div class="card-body text-center">
                                <canvas id="trendChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script>
var ctxL = document.getElementById("trendChart").getContext('2d');
var theTrendChart = new Chart(ctxL, {
    type: 'line',
    data: {
        labels: [{% for item in months %}
                  "{{item}}",
              {% endfor %}],
        datasets: [{
            label: "High",
            data: [{% for item in chartHigh %}
                  "{{item}}",
              {% endfor %}],
            backgroundColor: [
                'rgba(247, 62, 62, .2)',
            ],
            borderColor: [
                'rgba(247, 62, 62, .3)',
            ],
            borderWidth: 6
        },
        {
            label: "Medium",
            data: [{% for item in chartMed %}
                  "{{item}}",
              {% endfor %}],
            backgroundColor: [
                'rgba(255, 246, 123, .2)',
            ],
            borderColor: [
                'rgba(255, 246, 123, .3)',
            ],
            borderWidth: 6
        },
        {
            label: "Low",
            data: [{% for item in chartLow %}
                  "{{item}}",
              {% endfor %}],
            backgroundColor: [
                'rgba(123, 185, 255, .2)',
            ],
            borderColor: [
                'rgba(123, 185, 255, .3)',
            ],
            borderWidth: 6
        }
        ]
    },
    options: {
        responsive: true
    }
});
</script>
{% endblock %}