{% extends 'layout.html' %}

{% block content %}
<div class="container">
<h2 class="mb-3">Edit User: {{ user.username }}</h2>
<form class="form" method="post" role="form">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(placeholder=user.username, class="form-control", value=user.username) }}
    </div>

    <div class="mb-3">
        {{ form.role.label(class="form-label") }}
        {{ form.role(placeholder=user.role, class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.active.label(class="form-label") }}
        {{ form.active(placeholder=user.active, class="form-control") }}
    </div>

    <div>
        {{ form.submit }}
    </div>
</form>
</div>
{% endblock %}