{% extends 'layout.html' %}
{% from 'bootstrap5/pagination.html' import render_pager, render_pagination %}

{% block content %}
<div class="usertable">
    {% if current_user.has_role('admin') %}
    <table class="table table table-dark table-hover">
        <thead>
            <tr>
                {% for title in titles %}
                <th scope="col">{{ title[1] }}</th>
                {% endfor %}
                <th scope="col">
                    Actions
                    <a class="action-icon text-decoration-none" href="/admin/user/new" title="New"> <svg class="bi"
                            width="1em" height="1em" fill="currentColor">
                            <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#plus-circle-fill" />
                        </svg> </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for u in data %}
                <th scope="row">{{ u.username }}</th>
                <td>{{ u.role }}</td>
                <td>{{ u.active }}</td>
                <td>
                    <a class="action-icon text-decoration-none" href="/admin/user/{{ u.userid }}/view" title="View">
                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                            <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#eye-fill"></use>
                        </svg> </a>
                    <a class="action-icon text-decoration-none" href="/admin/user/{{ u.userid }}/edit" title="Edit">
                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                            <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#pencil-fill"></use>
                        </svg> </a>
                    <form style="display:inline" action="/admin/user/{{ u.userid }}/delete" method="post"> <input
                            type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <a class="action-icon text-decoration-none" href="javascript:{}"
                            onclick="this.closest('form').submit();return false;" title="Delete"> <svg class="bi"
                                width="1em" height="1em" fill="currentColor">
                                <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#trash-fill"></use>
                            </svg> </a>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_pager(pagination, align='right') }}
    {% endif %}
</div>
{% endblock %}